.chart {
    margin-right: 105px;
    margin-left: 15px;
    margin-top: 20px;
}

.file-workbench-filter.series-data {
    position: relative;
    margin-top: 15px;
    margin-bottom: -10px;
}

.tabbed-workflow .object-search-step {
    margin: unset;
}

.object-search-step {
    display: flex;
    flex-direction: column;
    margin-left: -25px;
    height: 100%;
    overflow-y: hidden;
}

.object-search-step .selected-instance {
    background-color: lightgrey;
}

.workflow-search-panel {
    background-color: #f3f3f3;
    border-bottom: #ddd solid 1px;
    position: fixed;
    width: 100%;
    padding: 10px 60px;
    display: inline-flex;
    align-items: center;
    z-index: 10;
}

.tabbed-workflow-step-body .workflow-search-panel {
    padding-left: 22px;
}

.workflow-search-panel .search-bar {
    width: 600px;
}

.workflow-search-count {
    display: inline-flex;
    padding-left: 15px;
    justify-content: center;
    font-size: 16px;
    color: #888;
}

.workflow-search-count .count-number {
    font-weight: 600;
    color: #004577;
    padding-right: 5px;
}

.object-search-step .search-results-footer {
    height: 55px;
    background-color: #f3f3f3;
    position: absolute;
    bottom: 53px;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    width: 100%
}

.tabbed-workflow-step-body .object-search-step .search-results-footer {
    bottom: 0px;
}

.object-search-step .wf-multi-tile-step-list {
    /* border-left: 0px; */
    background-color: #f3f3f3;
}

.object-search-step .workflow-search-results {
    margin-top: 55px;
    height: calc(100% - 55px);
}

.object-search-step .search-selection-controls {
    padding: 11px;
    display: inline-flex;
    justify-content: flex-start;
    background-color: #f3f3f3;
    /* border-top: solid 1px #ddd; */
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.workflow-search-results-full-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.workflow-search-list-container {
    position: relative;
    display:flex;
    flex-direction: column;
    width: 100%;
}

.workflow-search-list {
    display:flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 105px;
}

.workflow-search-list .resource-report {
    padding-left: 35px;
    border: 1px solid #ddd;
    margin: 10px;
}

.tabbed-workflow-step-body .wf-multi-tile-step-list {
    padding-bottom: 60px !important;  /* overwrites manual style setting */
}

.tabbed-workflow-step-body .workflow-search-list .resource-report {
    padding-left: unset;
}

.workflow-search-list .resource-report:hover {
    cursor: pointer;
}

.workflow-search-list .resource-report .summary-report-related-panel {
    display: none;
}

.wf-multi-tile-btn-complete {
    position: absolute;
    bottom: 305px;
    right: 100px;
    font-weight: 800;
}


.model-summary-report {
    padding: 20px 30px 30px 30px;
}

.summary-report-title {
    color: rgb(13, 59, 99);
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.summary-report-link {
    float: right;
    color: #1576EB;
}

.summary-report-subtitle {
    font-size: 14px;
    margin-bottom: 5px;
    color: #888;
}

.subtitle-category {
    color: rgb(13, 59, 99);
}

.subtitle-value a {
    color: #1576EB;
    font-size: 14px;
}

.subtitle-value-blank {
    color: #777;
}

.summary-report-description {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
    line-height: 1.4;
}

.summary-report-manifests {
    margin-bottom: 10px;
    font-size: 14px;
    color: #888;
}

.summary-report-manifest-title {
    margin-bottom: 5px;
    margin-top: 5px;
}

.summary-report-canvas {
    max-height: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #454545;
}

.summary-report-related-panel {
    color: #888;
}

.summary-report-related {
    font-size: 16px;
    font-weight: 500;
    color: rgb(13, 59, 99);
    padding-top: 10px;
}

.summary-report-related-panel .subtitle-value {
    display: inline-grid;
}

.summary-report-related-list {
    color:rgb(6, 119, 218);
}

.summary-report-editor-button {
    float: right;
    padding-top: 30px;
}

.physical-thing-search-list {
    margin-left: -25px;
    padding-left: 35px;
}

.tabbed-workflow-step-body .physical-thing-search-list-container {
    width: calc(100vw - 50px);  /* side-nav width */
}

.tabbed-workflow-step-body .physical-thing-search-list {
    margin: unset;
    padding: unset;
}

.physical-thing-search-list .resource-report {
    border-bottom: 1px solid #ddd;
}

.physical-thing-search-list .resource-report:hover {
    cursor: pointer;
    background: #fff;
}

.upload-dataset-related-widget {
    padding: 16px;
    margin-bottom: 20px;
}

.thematic-report-container {
    width: 100%;
    height: inherit;
}

.thematic-report-container .scroll-y {
    height: calc(100vh - 50px);
}

.thematic-report-container .resource-report {
    height: 100%;
}

.thematic-report-container #footer {
    display: none !important;
}

.thematic-report-container .rp-report-container-preview  {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: unset !important;
    padding: unset !important;
}

.thematic-report-container .toggle-container {
    padding: unset;
}

.thematic-nav-tab-container {
    overflow-x: scroll;
    position: relative;
    min-height: 40px;
}

.thematic-nav-tab-list {
    padding: 0px 10px 0px 10px;
    background-color: #fafafa;
    display: flex;
    min-width: max-content;
    position: absolute;
}

.thematic-nav-tab-list-item {
    display: flex !important; /* override navs.less */
    align-items: center;
}

.thematic-nav-tab {
    min-width: 220px;
    padding: 10px 20px;
    border-left: 1px solid #ddd;
    cursor: pointer;
}

.thematic-nav-tab.active {
    background-color: #fff;
    font-weight: 600;
}

.thematic-report-body-container {
    flex: 1 1 auto;
    overflow-y: scroll;
}

.thematic-report-body {
    background-color: #fff;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.thematic-report-section {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding-bottom: 26px;
    margin: 0 20px;
}

.thematic-report-section-title-container {
    display: flex;
    justify-content: space-between;
    width: 220px;
    background-color: #fafafa;
    border: 1px solid #ddd;
}

.thematic-report-section-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.thematic-report-table-head {
    background: #fafafa;
    border: 1px solid #ddd;
}

.thematic-report-table-head th {
    padding: 6px;
}

.thematic-report-table-body {
    border: 1px solid #ddd;
}

.thematic-report-table-body > :nth-child(even) {
    background: #F5FAFE;
}

.thematic-report-table-body td {
    padding: 6px;
}

.thematic-report-table-body-button-container {
    width: 75px;
    border-right: 1px solid #ddd;
}

.thematic-report-footer {
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    padding: 16px 12px;
    display: flex;
    justify-content: space-between;
}

.thematic-report-footer .tab-counter {
    display: flex;
    align-items: center;
    border-right: 1px solid #ddd;
    padding-left: 12px;
    padding-right: 24px;
    margin-right: 18px;
}

.thematic-report-footer .toggle-container {
    padding: 4px;
}

.thematic-report-footer .toggle-container .arches-toggle-subtitle{
    display: none;
}


.final-step .summary-label {
    padding-right: 5px; 
    color: #777;
}

.final-step .summary-value {
    color: #2b547c;
}

.final-step .file-list .file-upload-card {
    border-bottom: 1px solid #D3E5F4;
    border-radius: 2px;
    padding: 7px 8px 5px 15px;
    background: #fff;
    color: #666;
    height: 30px;
}

.final-step .file-list {
    border: 1px solid #ddd;
    overflow-y: scroll;
    width: 100%;
}

.final-step .file-list .file-upload-card:nth-child(odd) {
    background: #F5FAFE;
}

.final-step .summary-image {
    max-height: 240px;
}

.final-step .summary-image-container {
    margin: 15px;
    display: inline-flex;
}

.final-step table .selected {
    background: #92ecfc !important;
}

.tabbed-workflow-step-body .form-group>label {
    display:none;
}

.tabbed-workflow-step-body .card-help {
    display:none;
}

.upload-dataset-step-workflow-component-based-step {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.analysis-areas-workflow-regions-step {
    height: 100%;
    width: 100%;
}

.analysis-areas-workflow-regions-step .style-tools-wrapper {
    padding: inherit;
}

.analysis-areas-workflow-regions-step .dataset-table > :nth-child(even) {
    background: #F5FAFE;
}

.analysis-areas-workflow-regions-step .dataset-table tr {
    height: 28px;
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.analysis-areas-workflow-regions-step .row.widget-wrapper {
    padding-bottom: 10px;
    padding-top: 5px;
}

.analysis-areas-annotation-step-widget-title {
    display: inline-block;
    margin-bottom: 0px;
}

.analysis-areas-workflow-regions-step .new-provisional-edit-card-container {
    padding-bottom: 0px;
}

.analysis-areas-workflow-regions-step .form-group {
    margin-left: 0px;
    margin-right: 0px;
}