.chart {	
    margin-right: 105px;	
    margin-left: 15px;	
    margin-top: 20px;	
}	

.file-workbench-filter.series-data {
    position: relative;
    margin-top: 15px;
    margin-bottom: -10px;
}


.sampling-activity {   
    display: flex;
    flex-direction: column; 
    margin-left: -25px;
    height: 100%;
}


.sampling-activity .selected-instance {   
    background-color: #fff;
    font-weight: 700;
}

.sampling-activity-search-panel {
    height: 55px;
    background-color: #f3f3f3;
    border-bottom: #ddd solid 1px;
    position: fixed;
    width: 100%;
}

.physical-object-search-results {
    margin-top: 57px;
    padding: 0;
}

.wf-multi-tile-btn-complete {
    position: absolute;
    bottom: 305px;
    right: 100px;
    font-weight: 800;
}