<!-- ko if: loading() === false -->
<div class="padded-workflow-step">
    <div class="final-cons-step-splash">
        <h4>Workflow Complete</h4>
        <a data-bind="attr: { href: urls.resource + '/' + resourceid}"><button class="btn btn-success btn-shim btn-labeled btn-lg fa fa-step-forward">Jump to this resource</button></a>
        <!-- <div>
            <a href="#" target="_self" type="button" class="btn btn-primary"
                data-bind="attr: { href: urls.plugin(workflowid)}">
                <i class="fa fa-plus"></i>
                <span>New</span>
            </a>
            <a href="#" target="_self" type="button" class="btn btn-primary"
                data-bind="attr: { href: urls.resource + '/' + resourceid}">
                <i class="fa fa-pencil"></i>
                <span>Edit</span>
            </a>
        </div> -->
    </div>
    <div class="final-cons-step-separator">
        <hr>
        <h4>or Start a New Workflow</h4>
        <hr>
    </div>
    <div>
        <div class="workflow-select-card-container">
            <!-- ko foreach: {data: workflows, as: 'workflow'} -->
            <a data-bind="attr: {href: workflow.url, title: workflow.name}" href="#"><div data-bind="style: {'background-color': workflow.bgColor}" class="workflow-select-card">
                <h4 class="workflow-select-title" data-bind="text: workflow.name"></h4>
                <div data-bind="style: {'background-color': workflow.circleColor}" class="workflow-select-wf-circle">
                    <span><i data-bind="attr:{class: ('fa '+workflow.icon +' workflow-select-wf-icon')}"></i></span>
                </div>
                <p data-bind="text: workflow.desc" class="workflow-select-desc"></p>
            </div></a>
            <!-- /ko -->
        </div>
    </div>
    <!--ko if: report() -->
    <div class='resource-report editor-report' data-bind='component: {
        name: "default-report",
        params: {
            report: report(),
            editorContext: false
        }
    }'></div>
    <!--/ko -->
</div>
<!-- /ko -->
