<div class="sampling-activity">
    <div class="sampling-activity-search-panel" style="display: inline-flex; align-items: center">
        <div style="width: 80%">
            <div style="padding-left: 25px">
                <input data-bind="select2Query: {select2Config: targetResourceSelectConfig}">
            </div>
        </div>
        <div style="display: inline-flex; width: 20%; justify-content: center;">
            <div>Physical Things: </div><div style="padding-left: 10px;" data-bind="text: totalResults()"></div>
        </div>
    </div>
    <div class="physical-object-search-results" style="height: 100%;">
        <div style="display: inline-flex; justify-content: stretch;">
            <div style="display:flex; flex-direction: column;">
                <!-- ko foreach: targetResources -->
                <div style="padding: 10px;" data-bind="click: function(){$parent.updateTileData($data['_source']['resourceinstanceid'])}, text: JSON.stringify(
                    {
                        name: $data['_source']['displayname'],
                        resourceid: $data['_source']['resourceinstanceid'],
                        selected: $parent.value().indexOf($data['_source']['resourceinstanceid']) >= 0
                    }, null, '   '), css: {'selected-instance': $parent.value().indexOf($data['_source']['resourceinstanceid']) >= 0}">
                </div>
                <!-- /ko -->
            </div>
            <div style="display: flex; flex-direction: column; min-width: 300px">
                <!-- ko foreach: selectedResources -->
                <div style="padding: 10px; height: 75; display: inline-flex; justify-content: space-evenly; background-color: #fdfdfd;">
                    <div style="display: flex; flex-direction: column;">
                        <div data-bind="text: $data.displayname"></div>
                        <div data-bind="text: $data.displaydescription"></div>
                    </div>
                    <div>
                        <i data-bind="click: function(){$parent.updateTileData($data.resourceinstanceid)}" class="fa fa-close"></i>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="sampling-activity-search-panel" style="
        position: absolute; 
        bottom: 0px; 
        display: inline-flex; 
        align-items: center;
        justify-content: space-around;
        border-top: 1px solid #ddd;
        width: 100%">
        <div style="width: 20%;">
            paginator goes here
        </div>
        <button data-bind="visible: dirty, click: function(){resetTile()}">Reset</button>
        <button data-bind="visible: dirty, click: function(){submit()}">Save</button>
    </div>
</div>
