<div class="sampling-activity">
    <div class="sampling-activity-search-panel" style="display: inline-flex; align-items: center">
        <div style="width: 80%">
            <div style="padding-left: 25px">
                <input data-bind="select2Query: {select2Config: targetResourceSelectConfig}">
            </div>
        </div>
        <div style="display: inline-flex; width: 20%; justify-content: center;">
            <div>Physical Things: </div><div style="padding-left: 10px;" data-bind="text: totalResults()"></div>
        </div>
    </div>
    <div class="physical-object-search-results" style="height: 100%;">
        <div style="display: inline-flex; justify-content: space-between; width: 100%; height: 100%">    
            <div style="display:flex; flex-direction: column; width: 100%;">
                <!-- ko foreach: targetResources -->
                <div class='resource-report' data-bind="component: {
                    name: $parent.reportLookup[$data.report.get('template_id')()].componentname,
                    params: {
                        report: $data.report,
                        summary: true
                    }
                }, css: {'selected-instance': $parent.value().indexOf($data['_source']['resourceinstanceid']) >= 0},
                click: function(){$parent.updateTileData($data['_source']['resourceinstanceid'])}"></div>
                <!-- /ko -->
            </div>

            <div class="wf-multi-tile-step-list" style="padding: 0px;">
                <!-- ko if: selectedResources().length > 0 || dirty() -->
                <div style="
                padding: 10px;
                display: inline-flex;
                justify-content: flex-start;
                background-color: #f8f8f8;
                border-bottom: solid 1px #ddd;">
                    <div style="display: flex; justify-content: flex-end;">
                        <button class="btn btn-md btn-mint" data-bind="visible: dirty, click: function(){submit()}, text: complete() === true ? 'Save' : 'Save and Continue'"></button>
                        <button class="btn btn-md btn-mint" data-bind="visible: !dirty() && complete() === true, click: function(){next()}">Continue</button>
                        <button class="btn btn-md btn-warning" style="margin-left: 8px" data-bind="visible: dirty, click: function(){resetTile()}">Reset</button>
                    </div>                
                </div>
                <!--/ko -->
                <div style="padding: 24px 24px 0px 24px;">
                <!-- ko if: selectedResources().length === 0 && !dirty() -->
                <div class="wf-multi-tile-step-list-empty">
                    <p>You have not added any Physical Things</p>
                </div>
                <!--/ko -->
                <!-- ko foreach: selectedResources -->
                <div class="wf-multi-tile-step-card" >
                    <div class="wf-multi-tile-card-info">
                        <!-- <div class="workflow-step-icon complete"><span><i class="fa fa-hashtag"></i></span></div> -->
                        <div class="wf-multi-tile-card-info-details">
                        <dt data-bind="text: $data.displayname"></dt>
                        <dd>
                            <a target="_blank" href="" data-bind="text: $data.displaydescription"></a>
                        </dd>
                        </div>
                    </div>
                    <div class="wf-multi-tile-step-card-controls">
                        <span><i class="fa fa-times-circle"></i></span><span class="" data-bind="click: function(){$parent.updateTileData($data.resourceinstanceid)}">Remove</span>
                    </div>
                 </div>
                <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
    <div class="sampling-activity-search-panel" style="
        position: absolute; 
        bottom: 0px; 
        display: inline-flex; 
        align-items: center;
        justify-content: space-around;
        border-top: 1px solid #ddd;
        width: 100%">
        <div style="width: 20%;">
            paginator goes here
        </div>
    </div>
</div>
