{% load i18n %}
{% load template_tags %}

<div style="">
    <div class="upload-dataset-related-widget">
        <p>Project</p>
        <!-- ko component: {
            name: 'resource-instance-select-widget',
            params: {
                config: {
                    placeholder: 'Select a Project'
                },
                allowInstanceCreation: false,
                form: $data,
                value: projectResourceId,
                graphids: ["0b9235d9-ca85-11e9-9fa2-a4d18cec433a"],
                disabled: false,
                renderContext: "search",
                selectedItem: selectedProject
            }
        } -->
        <!-- /ko -->
    </div>

    <div class="upload-dataset-related-widget">
        <p>Sampled Object</p>
        <!-- ko component: {
            name: 'resource-instance-select-widget',
            params: {
                config: {
                    placeholder: 'Select a Physical Thing'
                },
                allowInstanceCreation: false,
                form: $data,
                value: objectResourceId,
                graphids: ["9519cb4f-b25b-11e9-8c7b-a4d18cec433a"],
                disabled: false,
                renderContext: "search",
                selectedItem: selectedObject
            }
        } -->
        <!-- /ko -->
    </div>
    <div style="margin-left:16px;">
        <button data-bind="click: advance" style="color: white; background-color: turquoise;" class="btn btn-shim btn-labeled fa fa-cloud">Continue</button>
    </div>

</div>