<button
    class="btn btn-success"
    data-bind="click: toggleManifestManagerHidden"
>
    <i class="ion-android-cloud-done"></i>
    <span>
        Create new Image Service
    </span>
</button>

<div 
    style="
        position: fixed;
        top: 50px;
        left: 50px;
        height: calc(100vh - 50px);
        width: calc(100vw - 50px);
        transition: all linear .4s;
    "
    data-bind="
        style: {
            transform: !isManifestManagerHidden() ? 'translate(0,0)' : 'translate(100vw,0)'
        },
        component: {
            name: 'manifest-manager',
            params: {
                report: $data.report,
                summary: true
            }
        }
    "
></div>

<button
    class="btn btn-warning"
    style="
        position: fixed;
        top: 4px;
        left: calc(100vw - 450px);
        height: 42px;
        width: 180px;
        transition: all linear .4s;
    "
    data-bind="
        style: {
            transform: !isManifestManagerHidden() ? 'translate(0,0)' : 'translate(0,-100vh)'
        },
        click: toggleManifestManagerHidden
    "
>BAIL FROM THE PLUGIN</button>