*.pyc
afs/media/node_modules
afs/media/build
afs/logs/*.log
afs/uploadedfiles
afs/cantaloupe/*
afs/ontologies/*.xml
arches.log
*.sublime*
afs/settings_local.py
.DS_Store
*.djcache
afs/node_modules
.vscode/
Procfile
afs/settings_docker.py
CACHE
afs/export_deliverables/
afs/staticfiles
afs/webpack/webpack-stats.json
node_modules

# Packaging
*.egg-info/
build/lib