*.pyc
arches_for_science/media/node_modules
arches_for_science/media/build
arches_for_science/logs/*.log
arches_for_science/uploadedfiles
arches_for_science/cantaloupe/*
arches_for_science/ontologies/*.xml
arches.log
*.sublime*
arches_for_science/settings_local.py
.DS_Store
*.djcache
arches_for_science/node_modules
.vscode/
Procfile
arches_for_science/settings_docker.py
CACHE
arches_for_science/export_deliverables/
arches_for_science/archestemp/
arches_for_science/staticfiles
arches_for_science/webpack/webpack-stats.json
node_modules

# Packaging
*.egg-info/
build/lib
dist

# Historical app name
afs/
