*.pyc
*.log
node_modules
coverage/
arches_for_science/logs
arches_for_science/export_deliverables
arches_for_science/ontologies/*.xml
arches_for_science/cantaloupe/*
arches_for_science/staticfiles
arches_for_science/media/packages
arches_for_science/media/build/
arches_for_science/uploadedfiles/*
arches_for_science/settings_local.py
webpack-stats.json
.vscode/
arches_for_science/settings_docker.py
*.egg-info
dist
.DS_STORE
arches_for_science/archestemp/
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
#Historical app name
afs/
build/lib