{% load i18n %}
<div class="download-project-files-step" data-bind="let: {self:$data}">
    <div>
        <h5 class="file-list-label" data-bind="text: $root.translations.relatedPhysicalThingsAndFiles"></h5>
    </div>
    <div class="expand-select-buttons">
        <a class="expand-select-button" data-bind="click: function() { expandAll(true); }"><i class="ion-plus"></i>{% trans ' Expand' %}</a>
        <a class="expand-select-button" data-bind="click: function() { expandAll(false); }"><i class="ion-minus"></i>{% trans ' Collapse' %}</a>
        <a class="expand-select-button" data-bind="click: function() { selectAll(true); }"><i class="ion-checkmark"></i>{% trans ' Select All' %}</a>
        <a class="expand-select-button" data-bind="click: function() { selectAll(false); }"><i class="ion-close"></i>{%  trans ' Clear All' %}</a>
    </div>
    <!-- ko foreach: { data: relatedObservations, as: "observation" } -->
    <div class="file-list-container" data-bind="if: observation.relatedFiles.length > 0">
        <div class="physical-thing-list" data-bind="click: function() { observation.expanded(!observation.expanded()); }">
            <span>
                <i class="fa" data-bind="css: {'fa-caret-right': !observation.expanded(), 'fa-caret-down': observation.expanded()}"></i>
            </span>
            <span data-bind="text: observation.name"></span>
            <!-- ko ifnot: observation.expanded() -->
            <span data-bind="html: `\xa0- <strong>${observation.relatedFiles.length}</strong> file(s)`"></span>
            <!-- /ko -->
        </div>
        <!-- ko if: observation.expanded() -->
        <!-- ko foreach: { data: observation.relatedFiles, as: "file" } -->
        <div class="file-download-list">
            <input type="checkbox" data-bind="checked: file.selected">
            <a data-bind="attr: { href: file.url }, html: file.name + ' ' + self.formatSize(file.size)" target="_blank"></a>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <div class="file-download-button">
        <button class="btn btn-danger" data-bind="click: downloadFiles, css: {disabled: !ready() }">
            <span data-bind="text: $root.translations.downloadSelected"></span>
        </button>
        <span>
            <h4 data-bind="text: message"></h4>
        </span>
    </div>
</div>