<div style="padding: 5px 65px">
    <div class="widget-input-label">Select Project</div>
    <div data-bind="component: {
        name: 'resource-instance-select-widget',
        params: {
            graphids: [
                '0b9235d9-ca85-11e9-9fa2-a4d18cec433a',
            ],
            renderContext: 'workflow',
            value: projectValue,
            disabled: locked,
        }
    }"></div>
</div>

<div style="padding: 5px 65px">
    <div class="widget-input-label">Select Template</div>
    <div style="padding: 0px 26px;">
        <div>
            <div class="col-xs-12 resource-instance-wrapper">
                <input style="display:inline-block;"
                    data-bind="
                        value: templateValue,
                        select2Query: {
                            select2Config: select2Config
                        }
                    ">
            </div>
        </div>
    </div>
</div>