{% load i18n %}
<!-- ko if: loading() === false -->
<div class="final-step">
    <div class="afs-final-step-section" style="padding: 15px; display: flex; flex-direction: column">
        <h5 class="summary-value">{% trans 'Created or Modified Resource Instance' %}</h5>
        <div style="display: inline-flex; width: inherit; justify-content: space-between;">
            <div style="display: flex; flex-direction: column;">
                <a data-bind="attr: { href: urls.resource + '/' + resourceid}" target="_blank">
                    <div class="summary-value">
                        {% trans 'Sampling Activity Resource Instance' %}
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="afs-final-step-section" style="padding: 15px; display: flex; flex-direction: column">
        <h5 class="summary-value">{% trans 'Related Project/Object' %}</h5>
        <div style="display: inline-flex; width: inherit; justify-content: space-between;">
            <div style="display: flex; flex-direction: column;">
                <div style="display: inline-flex;">
                    <div class="summary-label" data-bind="text: reportVals.projectName.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.projectName.value"></div>
                </div>
                <div style="display: inline-flex;">
                    <div class="summary-label" data-bind="text: reportVals.sampledObjectName.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.sampledObjectName.value"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="afs-final-step-section" style="padding: 15px; display: flex; flex-direction: column">
        <h5 class="summary-value">{% trans 'Sampling Activity' %}</h5>
        <div style="display: inline-flex; width: inherit; justify-content: space-between;">
            <div style="display: flex; flex-direction: column;">
                <div style="display: inline-flex;">
                    <div class="summary-label" data-bind="text: reportVals.samplers.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.samplers.value"></div>
                </div>
                <div style="display: inline-flex;">
                    <div class="summary-label" data-bind="text: reportVals.samplingDate.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.samplingDate.value"></div>
                </div>
                <div style="display: inline-flex;">
                    <div class="summary-label" data-bind="text: reportVals.statement.name + ':'"></div>
                    <div class="summary-value" data-bind="html: reportVals.statement.value"></div>
                </div>
                <div style="display: inline-flex;">
                    <div class="summary-label" data-bind="text: reportVals.samplingActivityName.name + ':'"></div>
                    <div class="summary-value" data-bind="text: reportVals.samplingActivityName.value"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="afs-final-step-section" style="padding: 15px; display: flex; flex-direction: column">
        <h5 class="summary-value">{% trans 'Sampling Activity' %}</h5>
        <div style="display: inline-flex;">
            <!-- <div style="border: solid 1px #ddd">
                <div class="iiif-leaflet" data-bind="leaflet: leafletConfig" style="height: 300px; width: 400px"></div>
            </div> -->
            <div>
                <div class="file-list" style="display: flex; flex-direction: column;">
                    <div class="file-upload-card" style="display: inline-flex; justify-content: space-between;">
                        <div class="summary-label">Observation Name</div>
                        <div class="summary-label">Description</div>
                        <!--div class="summary-label">Sampling Motivation</div-->
                    </div>
                    <!-- ko foreach: reportVals.samplingUnits -->
                    <div class="file-upload-card" style="display: inline-flex; justify-content: space-between;" 
                        data-bind="style: {'border-width': $index() === ($parent.reportVals.samplingUnits.length - 1) ? '0px' : '1px'}">
                        <div class="summary-value" data-bind="text: obsName.value"></div>
                        <div class="summary-value" data-bind="text: samplingArea.value"></div>
                    </div>
                    <!-- /ko -->
                </div>
                <div style="display: inline-flex; padding: 15px;">
                    <div class="summary-label">{% trans 'Sampled locations: ' %}</div>
                    <div class="summary-value" data-bind='text: reportVals.samplingUnits.length'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
