{% extends "views/components/iiif-viewer.htm" %}
{% load i18n %}

{% block tabs %}
<div class="workbench-card-sidebar-tab" data-bind="click: function() {
    toggleTab('editor');
}, css: {
    'active': activeTab() === 'editor'
}">
    <i class="fa fa-pencil"></i>
    <span class="map-sidebar-text">{% trans "Edit" %}</span>
</div>
{{ block.super }}
{% endblock tabs %}

{% block sidepanel %}
<!-- ko foreach: { data: [$data], as: 'self' } -->
<!--ko if: activeTab() === 'editor' -->
    <div class="workbench-card-sidepanel-header-container">
        <h4 class="workbench-card-sidepanel-header" data-bind="click: hideSidePanel, text: label"></h4>
    </div>

    <div>
        <div class="new-provisional-edit-card-container">
            <div class="card">
                <div class="row widget-wrapper">
                    <div class="form-group">
                        <div class="col-xs-12">
                            editor here...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/ko -->
<!--/ko -->
{{ block.super }}
{% endblock sidepanel %}
