{% extends "javascript.htm" %}

{% load static %}
{% load l10n %}
{% load i18n %}


{% block arches_urls %}
{{ block.super }}
<div class="arches-urls"
    physical_thing_search_results = "{% url 'physical-thing-search-results' %}"
    physical_things_set = "{% url 'physical_things_set' %}"   
    reports_list ="{% url 'archestemplating_template_view_get' %}"
    reports='(templateid)=>{return "{% url "archestemplating_template_view" "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" %}".replace("aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa", templateid)}',
    upload_dataset_select_dataset_files_step = "{% url 'upload_dataset_select_dataset_files_step' %}"
    upload_dataset_file_renderer = '(tileid)=>{return "{% url "upload_dataset_file_renderer" "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" %}".replace("aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa", tileid)}',
    format_render_map = '(format)=>{return "{% url "format_render_map" "aaaaaaaa" %}".replace("aaaaaaaa", format)}'
    download_project_files = "{% url 'download_project_files' %}"
    temp_file = "{% url 'temp_file' %}"
></div>
{% endblock arches_urls %}

{% block arches_translations %}
{{ block.super }}
<div class='arches-translations'
    data-for-download='{% trans "Data for Download" as dataForDownload %}  "{{ dataForDownload|escapejs }}"'
    no-related-files='{% trans "No Related Files" as noRelatedFiles %}  "{{ noRelatedFiles|escapejs }}"'
    interpretation='{% trans "Interpretation" as interpretation %}  "{{ interpretation|escapejs }}"'
    parameters='{% trans "Parameters" as parameters %}  "{{ parameters|escapejs }}"'
    report-download='{% trans " Report Download" as reportDownloads %}  "{{ reportDownloads|escapejs }}"'
></div>
{% endblock arches_translations %}

{% block project_modules %}
<script>
define('register-three', ['three'], function (THREE) {
    window.THREE = THREE;
    });

</script>

<!-- consumed by media/js/afs-settings.js -->
<div id="projectSettings"
    style="display: none"
    cloudStorage='{"enabled": {{ project_settings.CLOUD_STORAGE_ENABLED }}}'
></div>

<!-- consumed by media/js/afs-formats.js -->
<div 
    id="afsFormatData"
    style="display: none;"
    afsFormats='{{% for format in project_settings.FORMATS  %}
        "{{ format.id }}": {
            "name": "{{ format.name }}",
            "id": "{{ format.id }}",
            "renderer": "{{ format.renderer }}"
        },
    {% endfor %}}'
></div>
{% endblock project_modules %}