{% extends "views/report-templates/default.htm" %}
{% load i18n %}

<!-- hack to adjust height of report preview container -->
{% block report %}
<div class="thematic-report-container">
    {{ block.super }}
</div>
{% endblock report %}


{% block report_title_bar %}
{% endblock report_title_bar %}

{% block header %}
<div class="thematic-nav-tab-container">
    <ul class="nav nav-tabs thematic-nav-tab-list">
        <!-- ko foreach: TAB_DATA -->
            <li 
                class="thematic-nav-tab-list-item" 
                data-bind="
                    container: '.thematic-nav-tab-container',
                    scrollDirection: 'horizontal',
                    scrollTo: $index() === $parent.activeTabIndex(),
                "
            >
                <div
                    class='thematic-nav-tab'
                    data-bind="{
                        css: { active: $index() === $parent.activeTabIndex() },
                        click: function() { 
                            if (
                                $index() !== $parent.activeTabIndex() 
                            ) { 
                                $parent.activeTabIndex($index()); 
                            }
                        },
                    }" 
                >
                    <div 
                        style="
                            display: flex; 
                            flex-direction: row; 
                            justify-content: center; 
                            align-items: center;
                        "
                    >
                        <span 
                            style="font-size: 14px;"
                            data-bind="text: $data.title"
                        ></span>
                    </div>
                </div>
            </li>
        <!-- /ko -->
    </ul>
</div>
{% endblock header %}

{% block body %}
<div class="thematic-report-body-container">
    <div class="thematic-report-body">
        <!-- ko if: activeTab() && activeTab().sections().length -->
        <!-- ko foreach: activeTab().sections() -->
            <div 
                style="
                    display: flex;
                    flex-direction: column;
                    padding: 18px 20px 26px 20px;
                "
                class="thematic-section"
                data-bind="style: { 'border-bottom': $data.data.length ? '1px solid #ddd' : 'none' }" 
            >
                <div
                    class="thematic-section-title"
                    style="
                        display: flex;
                        justify-content: center;
                        width: 220px;
                        background-color: #fafafa;
                        border: 1px solid #ddd;

                    "
                >
                    <h5 data-bind="text: title"></h5>
                </div>

                <!-- ko if: $data.data.length -->
                <!-- /ko -->
                <!-- ko ifnot: $data.data.length -->
                    <div 
                        style="padding: 8px 0px"
                    >
                        <span>{% trans 'No data has been added yet.' %}</span>
                    </div>
                <!-- /ko -->
            </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
{% endblock body %}

{% block related_resources %}
{% endblock related_resources %}

{% block footer %}
<div 
    class="thematic-report-footer"
>
    <div style="display: flex;">
        <div class="tab-counter">
            <span 
                style="padding-right: 2px;"
                data-bind="text: activeTabIndex() + 1"
            ></span>
            <span data-bind="text:`/ ${TAB_DATA.length}`"></span>
            
        </div>

        <div
            data-bind="{
                component: { 
                    name: 'views/components/simple-switch', 
                    params: {
                        value: hideEmptyReportSections, 
                        config:{
                            label: '{% trans "Hide empty report sections" %}',
                        }
                    }
                }
            }"
        ></div>
    </div>

</div>
{% endblock footer %}
