{% extends "javascript.htm" %}

{% load static %}
{% load l10n %}
{% load i18n %}


{% block arches_urls %}
{{ block.super }}
<div class="arches-urls"
    physical_thing_search_results = "{% url 'physical-thing-search-results' %}"
    physical_things_set = "{% url 'physical_things_set' %}"    
    reports = "{% url 'reportview' %}"
    upload_dataset_select_dataset_files_step = "{% url 'upload_dataset_select_dataset_files_step' %}"
    upload_dataset_file_renderer = '(tileid)=>{return "{% url "upload_dataset_file_renderer" "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" %}".replace("aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa", tileid)}',
    format_render_map = '(format)=>{return "{% url "format_render_map" "aaaaaaaa" %}".replace("aaaaaaaa", format)}'
></div>
{% endblock arches_urls %}

{% block project_modules %}

<!-- consumed by media/js/afs-formats.js -->
<div 
    id="afsFormatData"
    style="display: none;"
    afsFormats='{{% for format in project_settings.FORMATS  %}
        "{{ format.id }}": {
            "name": "{{ format.name }}",
            "id": "{{ format.id }}",
            "renderer": "{{ format.renderer }}"
        },
    {% endfor %}}'
></div>
{% endblock project_modules %}